.headerContainer {
  @include font-size(20px, 26.58px, 0.05px, 700);

  padding-top: 26px;
  padding-bottom: 26px;
  background-color: var(--mtb-primary-col1);
  align-items: center;
}

.headerLogo {
  @include gridColumnSpan(4);
  @include hide;
  justify-self: start;
  cursor: pointer;
}

.hamburger {
  @include hide;
  cursor: pointer;
}

.hamburgerMobile {
  @include gridColumnSpan(1);
  @include setDisplay(block);
  cursor: pointer;
}

.headerNav {
  @include gridColumnSpan(5);
  @include hide;
  justify-self: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.headerNavLi {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.headerNavAnch {
  color: var(--mtb-primary-col2);
  @include underlineFromLeftToRight(
    $color: var(--mtb-primary-col2),
    $transition-duration: 0.5s
  );
}

.headerRightMenus {
  @include gridColumnSpan(3);
  @include hide;
  justify-self: end;
}

.headerRightMenusMobile {
  @include setDisplay(block);
  grid-column: none;
}

.headerIconMobile,
.headerIcon {
  @include setDisplay(inline);
  vertical-align: baseline;
  margin: 0 6px;
  cursor: pointer;
}
