.headerLogo,
.hamburger,
.headerRightMenus {
  display: block;
}

.headerLogo {
  grid-column: span 3;
}

.hamburger {
  grid-column: span 2;
  justify-self: center;
}

.headerRightMenus {
  grid-column: span 3;
  justify-self: end;
}

.headerNav,
.headerLogoMobile,
.hamburgerMobile,
.headerRightMenusMobile {
  display: none;
}
