.hamburger {
  display: none;
}

.headerLogo {
  grid-column: span 4;
}

.headerNav {
  grid-column: span 4;
  justify-self: center;

  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
}

.headerRightMenus {
  grid-column: span 4;
  justify-self: end;
}
