.card_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  border-radius: 8px;
  text-align: center;
  margin-top: 2.5rem;
  padding: 0px;
  flex: 100%;
  min-width: 320px;
}

.card_img {
}

.card_desc {
  margin-top: 20px;
}
